@font-face {
    font-style: normal;
    font-family: "Meslo LG";
    src: local("Meslo LG S"), url("/lib/meslo-LG/MesloLGS-Regular.ttf") format("truetype");
}

:root {
    --main-bg-color: #1d1f21;
    --main-content-opacity: 0.3;
    --text-100: #666;
    --text-200: #d3d16c;
    --text-300: #e4e4e4;
    --text-href: #d480aa;
    --text-href-bg: rgb(212, 128, 170, 0.5);
    --lines: #34393a;
    --lines-100: #4a5250;
    --font-size: 14px;
    --header1-size: 1.5em;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    font-family: "Menlo", "Meslo LG", monospace;
    font-weight: 400;
    font-size: var(--font-size);
    text-rendering: geometricPrecision;
}

::selection {
    background: var(--text-href-bg); /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: var(--text-href-bg); /* Gecko Browsers */
}

@keyframes line-parallax {
    from {stroke-dashoffset: 100%;}
    to {stroke-dashoffset: 0%;}
}

#lines-bg {
    position: fixed;
    display: inline;
    top: 0;
}

.line {
    stroke-width: 3px;
    stroke: var(--lines);
    stroke-dasharray: 2rem 1rem;
    animation-name: line-parallax;
    animation-duration:50s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.line.t1 {
    stroke: var(--lines-100);
}

.main-content {
    color:var(--text-300);
    position: relative;
    max-width: 600px;
    background-color: rgb(0, 0, 0, var(--main-content-opacity));
    margin: auto;
    margin-top: 100px;
    padding: 10px;
}

@media only screen and (max-width: 625px) {
    .main-content {
        margin-top: 0px;
    }
  }

span.title, span.text {
    width: 100%;
    color:var(--text-300);
    display: inline-block;
    margin-bottom: 6px;
    line-height: 1.525;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

span.title {
    margin-bottom: 7px;
    font-weight: 700;
    font-size: var(--header1-size);
    letter-spacing: 0.01em;
}

span.title.sep {
    margin-top: 5px;
}

.main-content .text.nomargin {
    margin: 0;
}

span .emph {
    color: var(--text-200);
}

span .right {
    text-align:right;
    float: right;
}

#links {
    width: 100%;
    text-align: center;
}

#links ul {
    display: inline-block;
    padding: 0;
    margin: 10px 0;
    list-style-type: none;
    font-size: 0;
}

#links ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: var(--font-size);
}

#links ul li:last-child {
    margin-right: 0px;
}

#links ul li a {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    background-image: linear-gradient(transparent, transparent 5px, var(--text-300) 5px, var(--text-300));
    background-position: bottom;
    background-size: 100% 6px;
    background-repeat: repeat-x;
}

a:hover {
    background-image: linear-gradient(transparent, transparent 4px, var(--text-href) 4px, var(--text-href));
}

a.bold {
    font-weight: bold;
}